.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #ffffff;
  height: 100vh;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  background: linear-gradient(145deg, #1e1e24, #2c2c34);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 100vw;
  overflow-y: auto;
}

.textContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.textContainer h1 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #61dafb;
}

.activeContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #222;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.activeContainer:hover {
  background-color: #333;
}

.activeItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #90caf9;
  font-weight: 500;
}

.activeContainer img {
  padding-left: 10px;
  width: 18px;
  height: 18px;
  filter: drop-shadow(1px 1px 2px #000);
}

/* Responsive Design */
@media (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
